# Python Basics Part one Notebook

## Comments

In [ ]:
# This is a single-line comment

In [ ]:
# Multiple single-line comments
# This line does nothing
# This is also a comment

# one 
# two

In [ ]:
"""
This is a multi-line comment
also called docstring
"""

'\nThis is a multi-line comment\nalso called docstring\n'

In [ ]:
print()

if True:
    print("True")

### Exercise: Add a comment and print your name

In [ ]:
# Write your code here

In [7]:
# Solution
# This prints my name

## Print Function

In [9]:
print("Hello")

print("hi")

Hello
hi

In [11]:
print("Hello", "Python", 2026)

Hello Python 2026

In [15]:
print("Hello")
print("World")

Hello
World

In [16]:
print("Hello", end=" ")
print("World")

Hello World

In [17]:
name = "Ali"
age = 20
print("Name:", name)
print("Age:", age)

Name: Ali
Age: 20

### Exercise: Print your name, age, and country

In [ ]:
# Write your code here

In [ ]:
# Solution
print("Name:", "Ahmed")
print("Age:", 25)
print("Country:", "Egypt")

## Variables

In [21]:
x = 10
x = 5
print(x)

5

In [ ]:
x = "khaled"

In [22]:
x = 10
print(x)

10

In [23]:
name = "Python"
print(name)

Python

In [24]:
# Changing variable value
x = 10
x = 20
print(x)

20

In [25]:
# Multiple variables
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [26]:
# Same value to multiple variables
omar = john = ali = 5000
print("omar : ",omar , "john : ", john , "ali : ",ali)

omar :  5000 john :  5000 ali :  5000

In [27]:
# Dynamic typing
x = 10
print(x)

x = "Python"
print(x)

10
Python

### Exercise: Create 3 variables and print them

In [ ]:
# Write your code here

In [ ]:
# Solution
name = "Sara"
age = 22
country = "USA"
print(name, age, country)

In [ ]:
age105180 = 10
print(age105180)

FirstName ="omar"
first_name = "Ali"

NAME = "khaled"

10

## Data Types

In [ ]:
# Integer
x = 10
print(x, type(x))

10 <class 'int'>

In [3]:
# Float
x = 3.14
salary = 1000.50
print(salary, type(salary))

1000.5 <class 'float'>

In [4]:
print(salary+x)

1003.64

In [5]:
# String
x = "Python"
print(x, type(x))

Python <class 'str'>

In [6]:
# Bytes
x = bytes([65, 66, 67]) #ABC
print(x, type(x))

b'ABC' <class 'bytes'>

In [7]:
# Boolean
x = True
print(x, type(x))

True <class 'bool'>

In [8]:
# List
x = [1, 2, 3]
print(x, type(x))

[1, 2, 3] <class 'list'>

In [9]:
# Tuple
x = (1, 2, 3)
print(x, type(x))

(1, 2, 3) <class 'tuple'>

In [10]:
# Dictionary
x = {"name": "Ali", "age": 25}
print(x, type(x))

{'name': 'Ali', 'age': 25} <class 'dict'>

In [11]:
# Set
x = {1, 2, 3}
print(x, type(x))

{1, 2, 3} <class 'set'>

### Exercise: Create one variable of each type

In [ ]:
# Write your code here

In [ ]:
# Solution
a = 10
b = 3.5
c = "Hello"
d = True
e = [1,2,3]
f = (1,2,3)
g = {"key":"value"}
h = {1,2,3}
i = bytes([65,66])

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

## Final Exercises

In [ ]:
# Exercise 1: Create variable reminding your name and print it

In [ ]:
# Exercise 2: Print numbers from 1 to 5

In [ ]:
# Exercise 3: Create integer, float, string, boolean variables and print their types

In [ ]:
# Solutions

# Exercise 1
name = "Ahmed"
print(name)

# Exercise 2
print(1,2,3,4,5)

# Exercise 3
a = 10
b = 3.14
c = "Python"
d = True

print(type(a))
print(type(b))
print(type(c))
print(type(d))